.saved-words {
  margin-top: 1em;
  width: 100%;
}

.checkbox-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.active-columns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 25vw;
  min-width: 500px;
}

tr {
  // Bold
  &:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
}

td {
  padding: 0.8rem;
  text-align: center;
}

.hanzi {
  display: flex;
  flex-direction: column;
}

.pagination {
  margin-top:1.5em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
