.checkbox-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.active-columns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 25vw;
  min-width: 500px;
}

tr {
  &:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
}

.show-more {
  // take full width of the table
  width: 100%;

  position: inherit;
  &-title {
    font-weight: 700;
  }
  &--row {
    background-color: #f5f5f5;
    width: 100%;
    display: flex;
  }
  &-char {
    font-weight: 700;
    width: 100px;
  }
  &-pinyin {
    margin-left: 1em;
    width: 100px;
  }
  &-definition {
    margin-left: 1em;
    width: 300px;
  }
}
