.repo__box {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  margin-top: 2em;
  flex-wrap: wrap;
  margin-bottom: 4em;
}

.repo__box h4 {
  margin-bottom: 1em;
}

.repo__box--subtitle {
  font-size: 0.8em;
  text-decoration: wavy;
  color: gray;
  text-align: right;
}

.contributions {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .repo {
    width: 100%;
    flex-direction: column;
  }

  .repo__box {
    margin-top: 0;
  }

  .contributions {
    display: flex;

    justify-content: center;
  }
}
