/*
#circle {
    position:absolute;
    transform:translate(-50%,-50%);
    height:35px;
    width:35px;
    border-radius:50%;
    border:2px solid black;
    background-color:red;
    z-index:0;
}
*/

#canvas-container {
  height: 100vh;
}

.dream {
  background: -webkit-linear-gradient(rgb(42, 155, 184), rgb(45, 6, 87));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
