#root {
  background-color: rgba(228, 228, 228, 0.042);
}

.hide-cursor * {
  cursor: none;
}

.content {
  display: flex;

  /* Margin */
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  padding: 2em;
  margin-bottom: 2em;

  background-color: white;
  box-shadow: 0px 0px 30px #88888854;
  border-radius: 2em;

  min-width: 700px;
}

.bottom-right-modal {
  
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;

  background-color: white;
  border-radius: 2%;
  padding: 2em;
  box-shadow: 0px 0px 30px #88888854;
  border: 1px solid #88888854;

  margin: 2em;
}

.bottom-right-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 0.5em;
  
  border-radius: 20%;
}

.bottom-right-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: fixed;
  bottom: 0;
  height: 20px;
  width: 20px;
  right: 0;
  z-index: 10;

  background-color: white;
  border-radius: 50%;
  padding: 1em;
  box-shadow: 0px 0px 30px #88888854;
  border: 1px solid #88888854;

  margin: 2em;
}

@media only screen and (max-width: 1000px) {
  .content {
    margin: 0;
    border-radius: 0;
    flex-direction: column;
  }
}
