.dropdown {
  width: 400px;
  background-color: #24292f;

  position: absolute;
  top: 60px;
  border-radius: 1em;
  padding-bottom: 1em;
  padding: 1em;
}

.dropdown__item {
  display: flex;
  width: 100%;
  background-color: #24292f;
  color: white;

  border-style: solid;
  border-width: 1px;
  border-color: rgb(63, 63, 63);

  align-items: center;

  font-weight: 900;
  padding: 0.2em;
}

.dropdown__item-image-container {
  margin-right: 2em;
  height: 1.6em;
  padding: 0.3em;
}

.dropdown__item-image {
  height: 100%;
}

.dropdown__item:hover {
  background-color: gray;
  cursor: pointer;
  color: rgb(61, 60, 60);
}
