img {
    width:100%;
    object-fit:contain;
}

.logo {
    height:100%;
}

.circle {  
    border-radius: 50%;
}

@media only screen and (max-width: 1000px) {
    img {
        max-width:300px;
    }
  }