.content__left {
    max-width:30%;
    margin-right:2em;
}

.content__left--image {
    margin:10%;
}

@media only screen and (max-width: 1000px) {
    .content__left {
        max-width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }