input.searchBox {
  border-radius: 4px;
  background-color: #24292f;
  color: white;
  padding: 5px;
  border-radius: 4px;
  width: 20em;

  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

input.searchBox:focus {
  width: 30em;
}
