.navbar {
  display: flex;
  height: 2em;
  width: 100%;
  padding: 1em;
  padding-right: 0;
  margin-right: 0;
  padding-left: 0;
  margin-left: 0;

  background-color: #24292f;
  min-width: 500px;

  &-default {
    background-color: #24292f;
  }
  &-chinese {
    background-color: #aa381e;
    background-image: url(../../../assets/images/chinese_nav.png);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
  }
}

.navbar img {
  cursor: pointer;
}

.navbar__item {
  height: 2em;
  display: flex;
  align-items: center;
  margin-left: 2em;
}

.right {
  position: absolute;
  right: 50px;
}

.border {
  border-radius: 1px;
  border-style: solid;
  padding: 5px;
  border-radius: 5px;
  border-color: white;
  border-width: 1px;
}

.letter {
  height: 2em!important;
}

@media only screen and (max-width: 900px) {
  .navbar {
    justify-content: space-between;
    width: 100%;
    height: 1em;
    align-items: center;
  }

  .navbar img {
    height: 1.5em;
  }
  .right {
    position: static;
    margin-right: 1em;
    font-size: 2em;
  }

  .border {
    padding: 0.3em;
  }

  .throw {
    display: none;
  }

  .search {
    width: 60%;
  }

  .searchBox {
    width: 100% !important;
    font-size: 1.2em;

    padding: 2em;
  }

  .letter {
    height: 1em!important;
  }
}
